include LICENSE
include README.md
recursive-include fiduswriter/llm/static *
recursive-include fiduswriter/llm/assets *
include fiduswriter/llm/package.json5
recursive-include fiduswriter/llm/locale *
